*{
	margin:0px;
	padding:0px;
	background:#E9E3F3;
}

.logo{
	width:200px;
	height:70px;
	float:left;
	margin-left:34px;
	padding-top:11px;

}
.logo img{
	width:130px;
	height:130px;
	margin-left:10px;
	margin-top:-10px;
}


.main{
	height:100vh;
	width:100%;
	background:#E9E3F3;
	background-position:center;
	background-size:cover;
	
}
.navigationber{
	width:1200px;
	height:70px;
	margin:auto;
}	


.menuber{
	height:70px;
	width:400px;
	float:left;
	margin-left:30px;
	padding-top:30px;
	text-align:center;
}
ul li.active a{
	color:red;
}

ul{
	float:left;
	display:flex;
	justify-content:center;
	align-items:center;
}
ul li{
	margin-left:40px;
	list-style:none;
	margin-top:20px;
	font-size:20px;
	font-family:arial;
	
}
ul li a{
	text-decoration:none;
	color:black;
	font-family:arial;
	font-weight:bold;
	transition: 0.5s ease-in-out;
}
ul li a:hover{
	color:red;
}

.all{
	margin-top:80px;
	margin-left:210px;
	display:flex;
}

.cards{
	width:300px;
	height:200px;
}
.image img{
	width:300px;
	height:300px;
	margin-left:10px;
}
.title{
	text-align:center;
}
.details{
	text-align:center;
}

button{
	width:220px;
	height:35px;
	font-family:sans-serif;
	text-align:center;
	color:white;
	font-weight:bold;
	background:red;
	font-size:22px;
	border-radius:9px;
	margin-top:20px;
	cursor:pointer;
	margin-left:13px;